
/draw/saved
/datasets
/local_optima_datasets
/build
/dist
/run_id_map
/DEBUG_run_id_map
/temp_solver_files
/hpo/storage

**/.vscode
**/__pycache__
**/*.egg-info
**/*.res
**/*.sol
**/*.pul
**/*.sav
**/*.sav~
**/*.pkl
**/*.pickle
**/*.npy
**/*.pdf

**/mlruns
**/*.log
**/*.png
**/*.svg